<div class="message-viewport" #scrollContainer>
  @for (message of messages; track message.id; let i = $index) {
    @if (showDateSeparator(i)) {
      <div class="date-separator">
        <span class="date-label">{{ formatDateSeparator(message.createdAt) }}</span>
      </div>
    }
    <app-message-bubble
      [message]="message"
      [isOwn]="message.senderUsername === currentUsername"
      [isAdmin]="isAdmin"
      [readReceiptsEnabled]="readReceiptsEnabled"
      [currentUsername]="currentUsername"
      (pinMessage)="pinMessage.emit($event)"
      (unpinMessage)="unpinMessage.emit($event)"
      (editMessage)="editMessage.emit($event)"
      (deleteMessage)="deleteMessage.emit($event)"
      (deleteForMe)="deleteForMe.emit($event)"
      (reactToMessage)="reactToMessage.emit($event)"
    ></app-message-bubble>
  }
</div>
